$mainColor: #003554;
$accentColor: #0099e5;

$maxWidth: 854px;

$logoDark: url('../images/logo/dark.png');
$logoLight: url('../images/logo/light.png');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');
$font: 'IBM Plex Sans';
